<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzt.mall.mapper.UserMapper">


    <!--根据用户名密码查询用户信息-->
    <!--application.yml 中通过 type-aliases-package 指定了实体类的为了，因此-->
    <select id="getByUserNameAndPassword" resultType="com.zzt.mall.entity.UserInfo">
        select * from user_info where user_name=#{userName} and password=#{password}
    </select>

    <select id="getByUserName" resultType="com.zzt.mall.entity.UserInfo">
        select * from user_info where user_name=#{userName}
    </select>

    <insert id="register" parameterType="com.zzt.mall.entity.UserInfo" useGeneratedKeys="true" keyProperty="userId">
        insert into user_info(user_name, password, status, email) VALUES (
                                                                         #{userName},#{password},#{status},#{email}
                                                                         )
    </insert>
</mapper>